<!-- this page shows an overview of a user's matches they've left reviews for, and is the user's main profile page -->
<%- include('../partials/header') %>


<!-- ////////////// -->


<% if (user) { %>


<div class="mx-auto" style="width: 800px;">
<img src="https://images.squarespace-cdn.com/content/v1/5865abc3cd0f680962234f16/1571707376142-NLK49TP3EL90Y9CWKT1P/rmi-gloria-floor-2-sharp0.jpg?format=1000w" id="gloria" class="img-responsive img-thumbnail pull-left" alt="Responsive image" style="width:auto;height:300px;">
<img src="https://images.squarespace-cdn.com/content/v1/5865abc3cd0f680962234f16/1571707375931-GKTSQUX5S78RPCPKEKRT/rmi-gl-rmi-20.jpg?format=1000w" id="gloria" class="img-responsive img-thumbnail pull-left" alt="Responsive image" style="width:auto;height:300px;">
<img src="https://images.squarespace-cdn.com/content/v1/5865abc3cd0f680962234f16/1571707376747-5ZD1E0FBU6WPGZ5XDXYL/rmi-gloria-floor-back.jpg?format=1000w" id="gloria" class="img-responsive img-thumbnail pull-left" alt="Responsive image" style="width:auto;height:300px;">
<img src="https://images.squarespace-cdn.com/content/v1/5865abc3cd0f680962234f16/1571707376984-SZGJZYLSYYPNNH2FCWK8/rmi-gloria-window-down-small.jpg?format=1000w" id="gloria" class="img-responsive img-thumbnail pull-left" alt="Responsive image" style="width:auto;height:300px;">

</div>

<table id="list" class="table table-bordered table-striped table-hover">
    <thead>
        <td colspan="4" style="color:antiquewhite; background-color: #4A154B; text-align: center;"><strong>Reviews You've Written</strong></td>
        <tr>
            <th class="text-center">Reviewed Match</th>
            <th class="text-center">Review Date</th>
            <th class="text-center">Review Details</th>
            <th class="text-center"></th>
        </tr>
    </thead>
    <tbody>
        <% matches.forEach(function(m) { %>
            <tr>
                <td><%= m.matchName %></td>
                <td><%= m.matchDate %></td>
                <td><a href="/matches/<%= m._id %>">Details</a></td>
            </tr>
        <% }); %>
    </tbody>
</table>





<% } else { %>

    <div><h1>Log in to see all the stuff!</h1</div>
        <h5>Put something here that encouurages people to join the app but don't make it functional. A pretty graphic.</h5>
        
        <% } %>    

<%- include('../partials/footer') %>