<!-- this page shows an overview of a user's matches they've left reviews for, and is the user's main profile page -->
<%- include('../partials/header') %>


<!-- ////////////// -->


<% if (user) { %>


<div class="mx-auto" style="width: 800px;">
<img src="https://images.squarespace-cdn.com/content/v1/5865abc3cd0f680962234f16/1571707376142-NLK49TP3EL90Y9CWKT1P/rmi-gloria-floor-2-sharp0.jpg?format=1000w" id="gloria" class="img-responsive img-thumbnail pull-left" alt="Responsive image" style="width:auto;height:300px;">
<img src="https://images.squarespace-cdn.com/content/v1/5865abc3cd0f680962234f16/1571707375931-GKTSQUX5S78RPCPKEKRT/rmi-gl-rmi-20.jpg?format=1000w" id="gloria" class="img-responsive img-thumbnail pull-left" alt="Responsive image" style="width:auto;height:300px;">
<img src="https://images.squarespace-cdn.com/content/v1/5865abc3cd0f680962234f16/1571707376747-5ZD1E0FBU6WPGZ5XDXYL/rmi-gloria-floor-back.jpg?format=1000w" id="gloria" class="img-responsive img-thumbnail pull-left" alt="Responsive image" style="width:auto;height:300px;">
<img src="https://images.squarespace-cdn.com/content/v1/5865abc3cd0f680962234f16/1571707376984-SZGJZYLSYYPNNH2FCWK8/rmi-gloria-window-down-small.jpg?format=1000w" id="gloria" class="img-responsive img-thumbnail pull-left" alt="Responsive image" style="width:auto;height:300px;">

</div>

<table id="list" class="table table-bordered table-striped table-hover">
    <thead>
        <td colspan="4" style="color:antiquewhite; background-color: #4A154B; text-align: center;"><strong>Reviews You've Written</strong></td>
        <tr>
            <th class="text-center">Reviewed Match</th>
            <th class="text-center">Review Date</th>
            <th class="text-center">Review Details</th>
            <th class="text-center"></th>
        </tr>
    </thead>
    <tbody>
        <% matches.forEach(function(m) { %>
            <tr>
                <td><%= m.matchName %></td>
                <td><%= m.matchDate %></td>
                <td><a href="/matches/<%= m._id %>">Details</a></td>
            </tr>
        <% }); %>
    </tbody>
</table>





<% } else { %>

      <!--Main Navigation-->
  
      <!--Main layout-->
      <main class="mt-5">
        <div class="container">
          <!--Section: Content-->
          <section class="d-flex justify-content-center">
            
  
              <div class="col-md-9 gx-5 mb-4">
                <h4><strong>Is this one of those 'trash your ex' sites?'</strong></h4>
                <p>
                    Absolutely not. Our mission is to generate fair reviews and real accountability. That's why you must become eligible to leave reviews before leaving them, in addition to creating a documented track record of how dates went along the way. 
                    <br>

                    <h4><strong>How do we do we ensure fairness?</strong></h4>
                    <ol>
                        <li class="text-muted">Check in, using the Rate Your Date mobile app, on a minimum of three dates and see each other for a minimum of three months. (You must check in for your last date within the last 2 weeks of month three.)</li>
                        <li class="text-muted">Leave a review about how each date went within 72 hours of the date. Your review may only be edited within that timeframe. It will also remain hidden from the public.</li>
                        <li class="text-muted">Once you've both successfully completed three dates and have remained in contact for three months, you will be eilgible to leave a review about your overall experience with your match, at which point, your previous reviews would also be revealed. OR, you can opt out of leaving any reviews.</li>
                    </ol>
                </p>
              </div>
            </div>
          </section>



        <% } %>    

<%- include('../partials/footer') %>