<!-- this page shows an overview of a user's matches they've left reviews for, and is the user's main profile page -->
<%- include('../partials/header') %>


<!-- ROUNDED IMAGES -->
<!-- Images marked as responsive have a max-width equal to the screen. You can add rounded corners with img-rounded, img-circle, and img-thumbnail. pull-left and pull-right will float images in the provided direction. center-block will place the image in the center. -->
<!-- <img src="https://i.pinimg.com/564x/a1/c0/59/a1c059ae6bdb8746eda8f3c8f99daa14.jpg" id="nttLogo" class="img-responsive img-thumbnail pull-left" alt="Responsive image"> -->
 
<!-- CONTEXTUAL COLORS -->
<!-- Contextual colors can be added to text -->
<p>
<span class="text-muted">Quis nostrud</span>
<span class="text-primary">exercitation ullamco</span>
<span class="text-success">laboris nisi</span>
<span class="text-info">ut aliquip</span>
<span class="text-warning">ex ea commodo</span>
<span class="text-danger">consequat.</span> Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
 
    <!-- <a href="/matches/new">New Match</a>
    <a href="/matches">All Matches</a> -->
<div>Log in to see all the stuff!</div>

<% if (user) { %>
 <img src="https://images.squarespace-cdn.com/content/v1/5865abc3cd0f680962234f16/1571707376142-NLK49TP3EL90Y9CWKT1P/rmi-gloria-floor-2-sharp0.jpg?format=1000w" id="gloria" class="img-responsive img-thumbnail pull-left" alt="Responsive image" style="width:200px;height:auto;">
<img src="https://images.squarespace-cdn.com/content/v1/5865abc3cd0f680962234f16/1571707376142-NLK49TP3EL90Y9CWKT1P/rmi-gloria-floor-2-sharp0.jpg?format=1000w" id="gloria" class="img-responsive img-thumbnail pull-left" alt="Responsive image" style="width:200px;height:auto;">
<img src="https://images.squarespace-cdn.com/content/v1/5865abc3cd0f680962234f16/1571707376142-NLK49TP3EL90Y9CWKT1P/rmi-gloria-floor-2-sharp0.jpg?format=1000w" id="gloria" class="img-responsive img-thumbnail pull-left" alt="Responsive image" style="width:200px;height:auto;">
<img src="https://images.squarespace-cdn.com/content/v1/5865abc3cd0f680962234f16/1571707376142-NLK49TP3EL90Y9CWKT1P/rmi-gloria-floor-2-sharp0.jpg?format=1000w" id="gloria" class="img-responsive img-thumbnail pull-left" alt="Responsive image" style="width:200px;height:auto;">
<img src="https://images.squarespace-cdn.com/content/v1/5865abc3cd0f680962234f16/1571707376142-NLK49TP3EL90Y9CWKT1P/rmi-gloria-floor-2-sharp0.jpg?format=1000w" id="gloria" class="img-responsive img-thumbnail pull-left" alt="Responsive image" style="width:200px;height:auto;">

<table id="list" class="table table-bordered table-striped table-hover">
    <thead>
        <td colspan="4"><strong>Reviews You've Written</strong></td>
        <tr>
            <th class="text-center">Reviewed Match</th>
            <th class="text-center">Matched Date</th>
            <th class="text-center">Review Details</th>
            <th class="text-center"></th>
        </tr>
    </thead>
    <tbody>
        <% matches.forEach(function(m) { %>
            <tr>
                <td><%= m.matchName %></td>
                <td><%= m.matchDate %></td>
                <td><a href="/matches/<%= m._id %>">Details</a></td>
            </tr>
        <% }); %>
    </tbody>
</table>
<% } %>






<%- include('../partials/footer') %>