<%- include('../partials/header') %>


<h1>Hello World - Rate Your Date (SHOW VIEW)</h1>
<h5><%= match.matchName %> <br /></h5>
<!-- User image -->
<img src="https://images.squarespace-cdn.com/content/v1/5865abc3cd0f680962234f16/1649887368229-0HOSLEL65QMGBX7O8F4T/match+avatar.png?format=500w" id="match-photo" class="img-responsive img-thumbnail pull-left" alt="Responsive image" style="width:350px;height:auto;">


<section id="show-page">
  <!-- <div>Match: < %= match.matchName %></div> -->
  <br>
  <div>You matched with <%= match.matchName %> on:</div>
  <div><%= match.matchDate %></div>
  <br>
  <div>Overall Rating:</div>
  <div> TEST RATING <%= match.rating %></div>
</section>

<br>
<div>Messages:</div>
<ul>
  <% match.reviewerMessage.forEach(m=> { %>
  <li>Message (user name): <%=m.reviewerMessage%></li>
  <% }) %>
</ul>

<!-- end messages list -->

<!-- <//%- //messages.map(m=>
   //`<option value="${m._id}">${m.matchName}</option>`
   //).join('') %> -->


<form
  id="send-message-to-match"
  action="/matches/<%= match._id %>/messages"
  method="POST"
>
  <textarea name="reviewerMessage" placeholder="Send a direct message..." id="form12" class="form-control"></textarea>
  <button type="submit">Send</button>
</form>
 

<% if (user) { %>

    
<br /><br />
<h2>Your Review for <%= match.matchName %></h2>



<form
  id="add-review-form"
  method="POST"
  action="/matches/<%= match._id %>/reviews"
>
  <label>Your reviews are private until you and <%= match.matchName %> have checked in together for at least three dates. You may edit or delete your review.</label><br />
</form>

<% } %> 



<% if (match.reviews.length) { %>
    <br />
<table class="table table-bordered table-striped table-hover">
  <thread>
    <tr>
      <th class="text-center">Reviewer</th>
      <th class="text-center">Date Matched</th>
      <th class="text-center">Review</th>
      <th class="text-center">Overall Score</th>
      <th class="text-center">Delete/Edit</th>
    </tr>
  </thread>
  <tbody>
    <% let total=0 %> 
    <% match.reviews.forEach(function(r) { %>
     <% total +=r.rating %>
    <tr>
      <td class="review-user"><img alt="avatar" src="<%= r.userAvatar %>"><%= r.userName %></td>
      <td>
          <%= r.createdAt.toLocaleDateString() %>
        </td>
      <td>
          <%= r.reviewText %>
        </td>
      <td>
          <%= r.rating %>
        </td>
      <td>
        <% if (user && user._id.equals(r.user)) { %>
        <!-- delete button -->
        <form action="/reviews/<%= r._id %>?_method=DELETE" method="POST">
          <button type="submit">Delete</button>
        </form>
        <!-- edit button -->
        <a href="/reviews/<%= r._id %>/edit"><button type="submit">Edit</button></a>


        <% } %>
      </td>
    </tr>
    <% }); %>
    <tr>
      <td colspan="2"></td>
      <td><strong> 
          <%= (total / match.reviews.length).toFixed(1) %> 
        </strong></td>
    </tr>
  </tbody>
</table>
<% } else { %>
<h5>No Reviews</h5>
<% } %> 

    
 

<%- include('../partials/footer') %>
