<%- include('../partials/header') %>


<% if (user) { %>

<br>
<section class="d-flex justify-content-center">
<h1>Your review of <%= match.matchName %> </h1>
</section>
<br>
<!-- User image -->
<img
  src="https://images.squarespace-cdn.com/content/v1/5865abc3cd0f680962234f16/1650024270645-LZLTG1WIQLDHZZQWMJGN/henri-meilhac-YjuycLB1pR8-unsplash.jpg?format=2500w"
  id="match-photo"
  class="img-responsive img-thumbnail pull-left"
  alt="Responsive image"
  style="width: 350px; height: auto"
/>
<img
src="https://images.squarespace-cdn.com/content/v1/5865abc3cd0f680962234f16/1650024270145-J8ITLC4SB9MLUS82KN7T/henri-meilhac-h2_ZzPCyPL4-unsplash.jpg?format=2500w"
  id="match-photo"
  class="img-responsive img-thumbnail pull-left"
  alt="Responsive image"
  style="width: 350px; height: auto"
/>



<section id="show-page" class="d-flex justify-content-left">
  <!-- <div>Match: < %= match.matchName %></div> -->
  <br />
  <div>You reviewed <%= match.matchName %> on.. </div>
  <div><%= match.matchDate %></div>
  <br />
  <!-- <div>Overall Rating:</div>
  <div>TEST RATING < %= match.reviews.rating %></div> -->
</section>


<br />
<div><strong>Direct Messages:</strong></div>
<ul>
  <% match.reviewerMessage.forEach(m=> { %>
  <li>You: <%=m.reviewerMessage%></li>
  <% }) %>
</ul>

<!-- end messages list -->

<!-- <//%- //messages.map(m=>
   //`<option value="${m._id}">${m.matchName}</option>`
   //).join('') %> -->

<form 
  id="send-message-to-match"
  style="max-width: 400px; content: justify-content-center"
  action="/matches/<%= match._id %>/messages"
  method="POST"
>
  <textarea
    name="reviewerMessage"
    placeholder="Send a direct message..."
    id="form12"
    class="form-control"
  ></textarea>
  <button type="submit">Send</button>
</form>
<br /><br />

<div class="d-flex justify-content-center">
<form 
  id="add-review-form"
  method="POST"
  action="/matches/<%= match._id %>/reviews"
>
  <label
    ><p>Your reviews are private until you and <%= match.matchName %> have checked
    in together for at least three dates. You have 72 hours to edit or delete your
    review.</p></label
  ><br />
</form>
</div>


<% } %> 

<% if (match.reviews.length) { %>
<br />
<table class="table table-bordered table-striped table-hover">
  <thread>
    <tr>
     
      <th class="text-center">Date Reviewed</th>
      <th class="text-center">Review</th>
      <!-- <th class="text-center">Overall Score</th> -->
      <th class="text-center">Delete/Edit</th>
    </tr>
  </thread>
  <tbody>
    <% let total=0 %> <% match.reviews.forEach(function(r) { %> 
    <% total +=r.rating %>
    <tr>
      
      <td><%= r.createdAt //toLocaleDateString() %></td>
      <td><%= r.reviewText %></td>
      <!-- <td>< %= r.rating %></td> -->
      <td>
        <% if (user && user._id.equals(r.user)) { %>
        <!-- delete button -->
        <form action="/reviews/<%= r._id %>?_method=DELETE" method="POST">
          <button type="submit">Delete</button>
        </form>
        <!-- edit button -->
        <a href="/reviews/<%= r._id %>/edit"
          ><button type="submit">Edit</button></a
        >

        <% } %>
      </td>
    </tr>
    <% }); %>
    <!-- <tr>
      <td colspan="2"></td>
      <td>
        <strong> < %= (total / match.reviews.length).toFixed(1) %> </strong>
      </td>
    </tr> -->
  </tbody>
</table>
<% } else { %>
<h5><%= match.matchName %> Log in to see reviews.</h5>


<% } %> <%- include('../partials/footer') %>
